---
import ExperiencesCard from './ExperiencesCard.astro';

export interface Props {
    headingStyle: string;
}

const { headingStyle } = Astro.props
---

<section id="experience" class="mt-16 lg:mt-24 py-12">
    <div class="px-5 sm:px-6 mx-auto max-w-5xl">
        <h2 class={headingStyle}>Experience</h2>
        <p class="text-sm text-secondary mb-8 max-w-xl">
            An immense thank you to all the incredible companies for giving me the opportunity to grow and 
            learn from so many great individuals. I'm always looking for more opportunities!
        </p>
        <ExperiencesCard/>
    </div>
</section>