---
import ProjectsCard from './ProjectsCard.astro';

export interface Props {
    headingStyle: string;
}

const { headingStyle } = Astro.props
---

<section id="projects" class="mt-0 py-12">
    <div class="px-5 sm:px-6 mx-auto max-w-5xl">
        <h2 class={headingStyle}>Projects</h2>
        <p class="text-sm text-secondary mb-8 max-w-xl">
            My archive of projects I've finished working on, currently working on building 3–4 new ones.
        </p>
        <ProjectsCard/>
    </div>
</section>